$blue : #25307F;

.name {
    color: $blue;
    font-size: 18px;
    font-weight: 500;
}


.email {
    color: #878787;
    font-size: 14px;
}

.styling {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    width: 100%;
    text-align: center;

    h5 {
        color: $blue;
        font-size: 20px;
    }

    p {
        color: #878787;
        font-size: 13px;
    }

}


.title{
    color: $blue;
    font-weight: 500;
    font-size: 18px;
}

ul {
    padding: 6px 0px; 
    margin: 0;
    list-style-position: inside; 
}

ul li {
    color: #1A1A1A;
    font-weight: 500;
    font-size: 13px;
    padding: 3px 0px; 
}